ACCESS_TOKEN=your_token_here
BASE_URL=https://api.github.com
ORG_NAME=your_org
OUTPUT_PATH=./output
PROXY_URL=
SKIP_ARCHIVED=true
VERBOSE=false
APP_ID=
PRIVATE_KEY=
PRIVATE_KEY_FILE=
APP_INSTALLATION_ID=
BATCH_SIZE=100
CREATE_BATCH_FILES=true
MAX_RETRY_ATTEMPTS=3
RETRY_DELAY_SECONDS=5
PAGE_SIZE=5
EXTRA_PAGE_SIZE=10