# Ignore node_modules
node_modules/

# Ignore built files
dist/
build/

# Ignore TypeScript declaration files
*.d.ts

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore logs
logs/
*.log

# Ignore environment variable files
.env
.env.local
.env.local*

*.local.sh
*.pem
*.csv
*.queue.txt
*-retry-queue.txt

# Ignore keys and output directories
keys/
output/
*_state.json

# Ignore test coverage reports
coverage/